body {
  margin: 0;
  padding: 0;
  /* Градиент, който покрива целия фон на страницата  */
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0),rgb(25, 27, 62),rgb(29, 34, 70), rgb(37, 44, 96), rgb(18, 62, 121));
  /* Задаване на височина, за да покрие целия прозорец */
}
.bodyEntryPage{
  margin: 0;
  padding: 0;
  height: 90vh;
}
.bodyRegistrationPage {
  margin: 0;
  padding: 0;
  height: 105vh;
}
.indexBody {
  height: 200vh;
}
header {
  background-color: rgb(88, 104, 120);
  text-align: center;
  padding: 5px;
 }
 .liHeader {
  display: inline;
  margin: 12px;
 }
.headerBar {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium';
 }
 .titlePage {
  font-family: 'Franklin Gothic Medium';
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 1px;
 }
 .footerBar {
  color:white;
  text-decoration: none;
  font-size: 20px;
 }
 Ul {
  list-style-type: none;
  text-align: center;
  margin: 12px;
 }
 footer {
  background-color: rgb(88, 104, 120);
  bottom: 0;
  position:fixed; /* Замени 'absolute' с 'fixed' за постоянно показване на футъра в края на прозореца */
  left: 0;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  padding: 20px 0; /* Добави вътрешен отстъп за по-добър вид */
  font-family: 'Franklin Gothic Medium';
  text-align: center;
  color: white;
 }
 .footerText {
  color: white;
  font-family: 'Franklin Gothic Medium';
  text-align: center;
 }
 .registrationContainer, .logInContainer{
 opacity: 10;
 width: 60%;
 margin:auto; 
 text-align: center; 
}
.titlePageLogIn {
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium' ;
  font-size: 40px;
  margin-bottom: 12px;
}
.RegistrationLabel {
 
  height: 100%;
  display: block;
  column-count: center;

  text-align: center;
  font-size: 25px;
  color: white;
  font-family: 'Franklin Gothic Medium';
}
.registrationButton {
  display: block;
  margin: 20px auto;  
  background-color: transparent;
  border: 3px solid rgb(255, 255, 255);
  padding: 6px 70px;
  text-align: center;
  font-family: 'Franklin Gothic Medium';
  font-size: 24px;
  color: white;
  cursor: pointer;
  border-radius: 66px;
}

.logInLabel {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 23px;
  color: white;
  font-family: 'Franklin Gothic Medium';
  margin-top: 29px;
} 
.logInButton {
  display: block;
  margin: 20px auto;  
  background-color: transparent;
  border: 3px solid rgb(255, 255, 255);
  padding: 6px 70px;
  text-align: center;
  font-family: 'Franklin Gothic Medium';
  font-size: 24px;
  color: white;
  cursor: pointer;
  border-radius: 66px;
}

.forgetPasswordStyle, .registrationStyle {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-family: 'Franklin Gothic Medium';
  font-size: 23px;
}

.logo_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
}
.examListColumn {
  opacity: 10;
  width: 60%;
  margin: auto;
  margin-top: 20px; 
  text-align: center;
  text-decoration: none;
  position: relative;
}
.examListTittlePage {
  color: white;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium';
  margin-top: 60px;
}
.examList {
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium';
  font-size: 30px;
}
.examButton {
  border: 4px white solid;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 200px;
  padding-right: 200px;
  margin: 20px;
  background-color: transparent;
  cursor: pointer;
}
#label {
  padding: 8px;
  text-align: center;
  margin: 6px;
  border: 3px black solid;
}
.indexWelcomingText {
  font-family: 'Franklin Gothic Medium';
  font-size: 45px;
  color: white;
}
.welcomingWord {
  margin: auto;
  color: white; 
  font-family: 'Franklin Gothic Medium';
  font-size: 45px;
}
.logInButton:hover {
  background-color: rgb(88, 104, 120);
}
.forgetPasswordStyle:hover {
   text-decoration: underline;
}
.registrationStyle:hover {
  text-decoration: underline;
}
.registrationButton:hover {
  background-color:rgb(88, 104, 120);
}
.animated-text {
  font-size: 42px;
  color: white; 
  font-family: 'Franklin Gothic Medium';
  margin-left: 35px;
  margin-top: auto;
}
.container {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.boldTextindex {
  color:white;
  font-family: 'Pacifico', serif;
  font-size: 120px;
 text-align: center;
  line-height: 400px;
  overflow: hidden;
  white-space: nowrap;
  animation: write 4s steps(30, end);
}
@keyframes write {
  from { width: 0; }
  to { width: 100%; }
}

.dna_img {
  position: relative;
  height: 260px;
  margin-top:270px;
  margin-left: 1570px;
  border: 9px solid rgb(255, 255, 255);
  opacity:0.7;
  border-radius:50%;
  padding: 12px;
  width:250px;
  overflow: hidden;
}

.question_next_to_dna{
  text-align: center;
  margin-top: -720px;
  color: white;
  font-size: 46px;
  font-family:'Arial';
  margin-top:-400px
}
.answer_next_to_dna {
  color: white;
 text-align: center;
 font-family:'Arial';
 font-size: 25px;
 
}
hr {
  width: 60%;
}