body, html {
  

  margin: 0;
  padding: 0;
  /* Градиент, който покрива целия фон на страницата  */
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0),rgb(25, 27, 62),rgb(29, 34, 70), rgb(37, 44, 96), rgb(18, 62, 121));
}
.logobttn {
  background-color: transparent;
  border: none;
  display: block;
}

.logo_img {
  max-height: 100px;
}


.bodyRegistrationPage {
  margin: 0;
  padding: 0;
  height: 105vh;
}

.header {
  display: flex;

}
.links {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium';
  
}
.entryLinks{
  text-align: center;
  color:white;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium';

}
.linksDiv {
  margin-top: 40px; 
  text-align: right;
  margin-left: auto;
  margin-right: 50px;
}
 .links:hover {
  text-decoration: underline;
 }
 
 .entryHeaderBttn {
  background-color: transparent;
  border: 3px black solid; 
  border-radius: 60px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
 }
 .entryHeaderBttn:hover {
  background-color: rgba(81, 128, 216, 0.677);
 }
 






